body
{
  
  background-image: url("Woodbg.png");
  
}

.navbarli
{
  font-size:150%;
}
#Portfoliologo
{
  font-size:190%;
  font-family:Times New Roman;
  color:white;
}
#navoptions
{
  font-family:Tinos;
}
#rabbitholder
{
  display: flex;
  justify-content: center;
}
.rabbit-photo
{
  border-style:inset;
  border-color:#444e4f;
  border-width:23px;
}
.MyWorkPics
{
  border-style:inset;
  border-color:#343d3e;
  border-width:24px;
  display: block;
  float: left;
}


#skills-text
{
  font-family:Amiri;
  font-size:25px;
  padding-right:50px;
  background-color:white;
  border-color:black;
  border-style:solid;
  border-width:10px; 
}
#contact-text
{
  font-family:Amiri;
  font-size:25px;
  padding-right:50px;
  background-color:white;
  border-color:black;
  border-style:solid;
  border-width:10px; 
}
{
  padding-right: 130px;
}

#namesofprojects
{
  display:flex;
  justify-content:flex-end;
}

#mywork-header
{
  text-align:center;
  padding-top:90px;
  padding-left:20px;
  color:white;
  text-shadow: 2px 2px black;
}
#contact-header
{
   text-align:center;
  padding-top:90px;
  color:white;
  text-shadow: 2px 2px black; 
}
#myskills-header
{
  text-align:center;
  padding-top:90px;
  padding-right:20px;
  color:white;
  text-shadow: 2px 2px black;
}

#aboutme
{
  font-family:'Source Sans Pro';
 display: flex;
  justify-content: center;
  color:white;
  text-shadow: 2px 2px black;
}

